

/* Dark theme values */
[data-theme="dark"] {
  --bg-primary: #000000;
  --bg-secondary: #1a1a1a;
  --bg-tertiary: #2d2d2d;
  --text-primary: #2d2d2d;
  --text-secondary: #2d2d2d;
}

.App {
  min-height: 100vh;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}
